doctype html
html
  head
      block head
        title= title
        link(rel='stylesheet' href='/stylesheets/reset.css')
  body
    nav
      a(href='/') Home
      div
        if locals.authenticated
          span Welcome #{user.firstName}!
          form(action='/users/logout' method='post')
            button Logout
        else
          span
            a(href='/users/login') Login
            a(href='/users/signup') Sign Up
    div
      ul
        each list in lists
          li= list
      button Add List

  block content
