div
  ul
    each list in lists
      li
        a(href= `/lists/${list.id}`)=list.name
        button= "Delete List"
  button Add List
div#add-list-popup
  +validationErrorSummary(errors)
  form(action= "/lists" method= "post")
    +field('List Name', 'name', '')
    button Add
