div#character
    #user-info
        div#character-contents
            img(src="../images/Paladin.png" alt="Home" class="sprite" id='profile-sprite')
            div#character-info
                span#username= user.firstName
                span#current-class-name.class-info Paladin
                div
                    span.class-info Level
                    span#user-level #{user.level}
        div#classes
            #select-class-title-div
                span#select-class-title Select a Class:
            #class-selection
                div.class-container
                    img(src='../images/Paladin.png' alt='Paladin' id='Paladin' class='class-select-sprite')
                    span.class-sprite-title Paladin
                div.class-container
                    img(src='../images/Warrior.png' alt='Warrior' id='Warrior' class='class-select-sprite')
                    span.class-sprite-title Warrior
                div.class-container
                    img(src='../images/Dragoon.png' alt='Dragoon' id='Dragoon' class='class-select-sprite')
                    span.class-sprite-title Dragoon
                div.class-container
                    img(src='../images/Monk.png' alt='Monk' id='Monk' class='class-select-sprite')
                    span.class-sprite-title Monk
                div.class-container
                    img(src='../images/Bard.png' alt='Bard' id='Bard' class='class-select-sprite')
                    span.class-sprite-title Bard
                div.class-container
                    img(src='../images/BlackMage.png' alt='BlackMage' id='BlackMage' class='class-select-sprite')
                    span.class-sprite-title Black Mage
                div.class-container
                    img(src='../images/Summoner.png' alt='Summoner' id='Summoner' class='class-select-sprite')
                    span.class-sprite-title Summoner
                div.class-container
                    img(src='../images/Scholar.png' alt='Scholar' id='Scholar' class='class-select-sprite')
                    span.class-sprite-title Scholar
                div.class-container
                    img(src='../images/WhiteMage.png' alt='WhiteMage' id='WhiteMage' class='class-select-sprite')
                    span.class-sprite-title White Mage
                div.class-container
                    span.class-locked-notice LEVEL 5
                    img(src='../images/Ninja.png' alt='Ninja' id='Ninja' class='class-select-sprite class-locked')
                    span.class-sprite-title Ninja
                div.class-container
                    span.class-locked-notice LEVEL 8
                    img(src='../images/Machinist.png' alt='Machinist' id='Machinist' class='class-select-sprite class-locked')
                    span.class-sprite-title Machinist
                div.class-container
                    span.class-locked-notice LEVEL 8
                    img(src='../images/DarkKnight.png' alt='DarkKnight' id='DarkKnight' class='class-select-sprite class-locked')
                    span.class-sprite-title Dark Knight
                div.class-container
                    span.class-locked-notice LEVEL 8
                    img(src='../images/Astrologian.png' alt='Astrologian' id='Astrologian' class='class-select-sprite class-locked')
                    span.class-sprite-title Astrologian
                div.class-container
                    span.class-locked-notice LEVEL 10
                    img(src='../images/RedMage.png' alt='RedMage' id='RedMage' class='class-select-sprite class-locked')
                    span.class-sprite-title Red Mage
                div.class-container
                    span.class-locked-notice LEVEL 10
                    img(src='../images/Samurai.png' alt='Samurai' id='Samurai' class='class-select-sprite class-locked')
                    span.class-sprite-title Samurai
                div.class-container
                    span.class-locked-notice LEVEL 15
                    img(src='../images/Dancer.png' alt='Dancer' id='Dancer' class='class-select-sprite class-locked')
                    span.class-sprite-title Dancer
                div.class-container
                    span.class-locked-notice LEVEL 15
                    img(src='../images/Gunbreaker.png' alt='Gunbreaker' id='Gunbreaker' class='class-select-sprite class-locked')
                    span.class-sprite-title Gunbreaker
                div.class-container
                    span.class-locked-notice LEVEL 20
                    img(src='../images/Sage.png' alt='Sage' id='Sage' class='class-select-sprite class-locked')
                    span.class-sprite-title Sage
                div.class-container
                    span.class-locked-notice LEVEL 20
                    img(src='../images/Reaper.png' alt='Reaper' id='Reaper' class='class-select-sprite class-locked')
                    span.class-sprite-title Reaper
