div#character
    #user-info
        img(src="http://www.finalfantasyxiv.com/fankit_patch335/51Dyfvhz/ffxiv_twi05013.png" alt="Home" class="sprite")
        div#character-contents
            span#username= user.firstName
            span.class-info Astrologian
            span.class-info Level
            span#user-level  #{user.level}
