div
  ul
    each list in lists
      li
        a(href= `/lists/${list.id}`)=list.name
        button Update
        button Delete
  button#add-list-button Add List

div#add-list-popup
  +validationErrorSummary(errors)
  form(action= "/lists" method= "post")
    +field('List Name', 'name', '')
    input(type="hidden" name="_csrf" value=csrfToken)
    button#submit-add-list Add
    button#cancel-add-list(type="button") Cancel
