#moogle-info-container
    #text-block
        span Level up by completing tasks! Set time and priority for more experience points! Unlock classes as you level up, kupo!
    #moogle-image
        img(src='../images/Moogle.png')
    #close-button X
