#moogle-info-container
    #text-block
        span You can level up your Warrior of Light and unlock new jobs by completing tasks, kupo! You'll always get more experience points for setting an estimated time and priority level. The longer the task takes and the higher priority it is, the more experience you'll get. So get to it, kupo!
    #moogle-image
        img(src='../images/Moogle.png')
    #close-button X
