include utils.pug

doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title TALE Of TASK
        link(rel='stylesheet' href='/stylesheets/login.css')
        link(rel="preconnect" href="https://fonts.googleapis.com")
        link(rel="preconnect" href="https://fonts.gstatic.com" crossorigin)
        link(href="https://fonts.googleapis.com/css2?family=Karla:wght@400;700&family=Noto+Sans+JP&family=Noto+Serif+JP&family=Oranienbaum&family=Press+Start+2P&display=swap" rel="stylesheet")
    body

    body
        #login-container
            .login-div
                h1#title TALE Of TASK
                h2#title-kata テール・オブ・タースク
            #login-sprites
            +validationErrorSummary(errors)
            div
                form(action="/users/login" method="post" id="login-form" class="login-div")
                    .label-text
                        label(for="email") Email Address
                    div
                        input(type="text" id="email" name="email" value=email)
                    .label-text
                        label(for="password") Password
                    div
                        input(type="password" id="password" name="password")
                    input(type="hidden", name="_csrf", value=csrfToken)
                form(acton="users/login" method="post" id="demo-login")
                    input(type="hidden" name="email" value="demo@demo.com")
                    input(type="hidden" name="password" value="Abc1!")
                    input(type="hidden", name="_csrf", value=csrfToken)
                div
                    button.login-button#login(form="login-form") LOGIN
                    button.login-button#demo(form="demo-login") DEMO
                div#register
                    a(href="/users/signup") Not yet registered? Start your journey now!
            script(src="/javascripts/login.js" type="module")
