body {
    padding: 50px;
    font: 14px 'Karla', sans-serif;
    background-color: rgb(239, 238, 234);
}

* {
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6, a, ol, li, ul, div, span,
body, header, nav {
    font-size: 1rem;
    color: inherit;
    /* background-color: transparent; */
    margin: 0;
    padding: 0;
    outline: 0;
    font-weight: normal;
}

h1 {
    font-size: 2rem;
}

p {
    color:rgb(244, 67, 54);
    font-weight: bold;
}

ul {
    list-style-type: none;
    color:rgb(244, 67, 54);
    margin-bottom: 30px;
}

#login-container {
    left: 50%;
    padding: 10% 50px 10% 50px;
    position: fixed;
    top: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    /* margin-top: 7.5%; */
    overflow: auto;
    overflow-x: hidden;
}

.login-div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#title {
    font: 70px 'Oranienbaum', serif;
    border-bottom: 1px solid black;
}

#title-kata {
    font-family: 'Noto Serif JP', serif;
    margin: 10px;
}

#login-sprites {
    margin: 25px;
    display: flex;
}

label {
    color:rgb(51, 51, 51);
    font-weight: bold;
}

#register {
    text-align: center;
}

#register a {
    color:rgb(51, 51, 51);
    text-decoration: none;
    transition: 0.3s;
}

#register a:hover {
    color: rgb(33, 135, 182);
}

.label-text {
    margin: 10px;
}

input {
    filter: drop-shadow(2.5px 2.5px 5px lightgrey);
    border: 0px;
    width: 250px;
    height: 25px;
    text-align: center;
}

.login-button {
    font-family: 'Noto Sans JP', sans-serif;
    font-size: 24px;
    font-weight: bold;
    height: 50px;
    width: 150px;
    border-radius: 5px;
    letter-spacing: 2px;
    color:white;
    margin: 50px 15px 30px 15px;
    filter: drop-shadow(2.5px 2.5px 5px lightgrey);
    padding-bottom: 5px;
}

.login-button:hover{
    filter: drop-shadow(0px 0px 10px rgb(255, 230, 120));
    cursor: pointer;
}

#login {
    background: linear-gradient(to right top, rgb(42, 99, 26), rgb(80, 216, 62));
    border: 1px solid rgb(118, 179, 105);
}

#demo {
    background: linear-gradient(to right top, rgb(26, 70, 99), rgb(62, 185, 216));
    border: 1px solid rgb(105, 152, 179);
}

.sprite {
    height: 100px;
    transition: opacity 1s;
}
