#nav-contents{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* background-color: rgba(0, 0, 0, 0.445); */
}

#navbar {
    height: 7.5%;
    background-color: rgb(20, 20, 20);
    /* background: url('https://img.finalfantasyxiv.com/lds/h/H/U1cNR3uhHiUiwj6ga0bnPZt1EE.jpg');
    background-size: cover;
    background-position-y: 20%; */

}

#navtop {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: .5rem .75rem;
}

#main-title {
    font: 1rem 'Oranienbaum', serif;
    color: whitesmoke;
    padding-top: .25rem;
}

#logout {
    /* font-family: 'Noto Sans JP', sans-serif;
    font-size: 24px;
    font-weight: bold;
    height: 50px;
    width: 150px;
    border-radius: 5px;
    letter-spacing: 2px;
    color:white;
    margin: 0 50px 0 0;
    filter: drop-shadow(2.5px 2.5px 5px lightgrey);
    padding-bottom: 5px;
    background: linear-gradient(to right top, rgb(99, 26, 44), rgb(216, 62, 108));
    border: 1px solid rgb(179, 105, 127); */
    border: none;
    background-color: transparent;
    color: whitesmoke;
    font-family: 'Noto Sans JP', sans-serif;
}

#logout:hover{
    /* filter: drop-shadow(0px 0px 10px rgb(255, 230, 120));
    cursor: pointer; */
    filter: none;
    color: gold;
}
