body {
    padding: 50px;
    font: 14px 'Karla', sans-serif;
    background-color: rgb(239, 238, 234);
}

* {
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6, a, ol, li, ul, div, span,
body, header, nav {
    font-size: 1rem;
    color: inherit;
    /* background-color: transparent; */
    margin: 0;
    padding: 0;
    outline: 0;
    font-weight: normal;
}

h1 {
    font-size: 2rem;
}

p {
    color:rgb(244, 67, 54);
    font-weight: bold;
}

ul {
    list-style-type: none;
    color:rgb(244, 67, 54);
    margin-bottom: 30px;
}

h1 {
    display: flex;
    justify-content: right;
    font: 70px 'Oranienbaum', serif;
    color:black;
    margin-bottom: 25px;
    border-bottom: 1px solid black;
    padding-bottom: 10px;
}

.signup-div {
    display: flex;
    flex-direction: column;
}

#signup-container {
    left: 35%;
    top: 45%;
    padding: 50px;
    position: fixed;
    transform: translate(-50%, -50%);
    display: flex;
}

label {
    color:rgb(51, 51, 51);
    font-weight: bold;
    width: 150px;
    display: inline-flex;
    justify-content: right;
    margin-right: 20px;
}

input {
    filter: drop-shadow(2.5px 2.5px 5px lightgrey);
    border: 0px;
    width: 250px;
    height: 25px;
    text-align: center;
    margin: 10px 0px;
}

#bottom-div {
    display: flex;
    justify-content: right;
}

.start-button {
    font-family: 'Noto Sans JP', sans-serif;
    font-size: 24px;
    font-weight: bold;
    height: 50px;
    width: 200px;
    border-radius: 5px;
    letter-spacing: 2px;
    color:white;
    margin: 40px 0px 30px 0px;
    filter: drop-shadow(2.5px 2.5px 5px lightgrey);
    padding-bottom: 5px;
    background: linear-gradient(to right top, rgb(42, 99, 26), rgb(80, 216, 62));
    border: 1px solid rgb(118, 179, 105);
}

.start-button:hover{
    filter: drop-shadow(0px 0px 10px rgb(255, 230, 120));
    cursor: pointer;
}

#signup-div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#login-link-div {
    display: flex;
    justify-content: right;
    /* margin-top: 15px; */
}

#signup-errors-div {
    position: fixed;
    left: 50%;
    top: 31%;
    width: 20%;
}

/* #register-container {
    display:flex;
} */

a {
    color:rgb(51, 51, 51);
    text-decoration: none;
}

a:hover {
    color: rgb(33, 135, 182);
}
